<view-home>
    <div class="mdl-card mdl-shadow--4dp mdl-card--center">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Call a friend</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Start a one-to-one video call with a friend, using TokBox.
        </div>
        <div class="mdl-card__actions">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                    onclick={ createCall }>Start call <i class="material-icons">video_call</i></button>
        </div>
    </div>

    <script>
     this.createCall = function () {
         opts.app.createCall();
     };
    </script>
</view-home>
